.img-absolute-parent1{
    position: relative;
}
.overflow-visible1{
    overflow: visible !important;
}
.pb-501 {
    padding-bottom: 50px !important;
}
.section1{
    background-color: #efefef;
    display: block;
}


section#services1 .container1 {
    padding-bottom: 0 !important;
}
#services1 .container1, #gallery .container1{
    padding-top: 0;
}
.mt-501 {
    margin-top: 50px !important;
}
@media (min-width: 1200px)
{
    .container1 {
        width: 1170px;
    }
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 1px;
    background-color: #ffffff;
}
.container1{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
::selection {
    background: none repeat scroll 0 0 #393939;
    color: #ffffff12;
}

.section-title1{
    margin-bottom: 40px;
}
div{
    display: block;
}
.row12:before{
    display: table;
    content: " ";
}
:after, :before{
    box-sizing: border-box;
}
.row12:after{
    clear: both;
    display: table;
    content: " ";
}
:after, :before{
    box-sizing: border-box;
}
.text-center1{
    text-align: center !important;
}
@media (min-width: 992px)
{
    .col-md-offset-31 {
        margin-left: 10%;
    }
}
@media (min-width: 992px) {
    .col-md-61 {
        width: 80%
    }
}

.font-italic1{
    font-style: italic;
}
h21{
    font-size: 5rem;
    line-height: 1.3;
    margin-bottom: 10px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    margin-top: 0;
    color: #222;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    scroll-margin-inline-end: 0px;
}
.subtitle1{
    color: #555;
    font-size: 30px;
    font-family: 'Bungee Shade', cursive;

}
.subtitle-divider1
{
    position: relative;
    height: 30px;
}
.p-01
{
    padding: 0!important;
}
.services-item1{
    position: relative;
}
.divider1 {
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: 100%;
}
.overlay-lightblue1:before{
    background-color: rgba(177,218,232,.95);
}

.pl-401{
    padding-left: 40px !important;
}
.pr-401{
    padding-right: 40px !important;
}
.p-301{
    padding: 15px !important;
}
.service-title1{
    font-size: 32px;
    font-family: 'Playfair Display' , serif;
}
.text-back1{
    color: #181717 !important;
}

html, html a {
    -webkit-font-smoothing: antialiased;
}
a,i {
    transition: all 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95) 0s;
}
a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    background-color: transparent;
}

h4{
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 1px;
}
.subtitle-divider1::before, .subtitle-divider1::after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 15px;
    width: 310px;
    right: 0;
    margin: 0 auto;
}

.subtitle-divider1::after {
    background: #00cbd9 none repeat scroll 0 0;
    top: 14px;
    width: 110px;
    height: 4px;
}

.Between1{
    font-size: 16px;

}
.contents1{
    height: 100%;
    width: 60.5%;
    padding-left: 11.5%;
    margin-left: 14%;
    background-color: whitesmoke;
}

